{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-info btn-lg" type="submit" value="{{ 'Registration'|trans }}" />
        {{ form_end(form) }}
    </div>
{% endblock %}